<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Parking Lot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Administración de Parking Lots</h1>
    <div id="parking-lots"></div>

    <h2>Añadir Parking Lot</h2>
    <form id="add-parking-lot-form">
        <input type="text" id="name" placeholder="Nombre" required>
        <input type="text" id="direction" placeholder="Dirección" required>
        <input type="number" id="price" placeholder="Precio" required>
        <button type="submit">Añadir</button>
    </form>

    <script src="admin.js"></script>
</body>
</html>
